body {
    background: linear-gradient(to bottom,#33ccff 0%,#ff99cc 100%);
    linear-gradient(to right top, #d16ba5,#c777b9,#ba83ca,#aa8fd8,#9a9ae1,#8aa7ec,#79b3f4,#69bff8,#52cffe,#41dfff,#46eefa,#5ffbf1);
    
}

.tab {
    
    font-size: 30px;
    text-align: left;
    outline: none;
    background: linear-gradient(to bottom,#33ccff 0%,#ff99cc 100%);;
    border: none;
    /* border-radius: 30px; */
    font-weight: bolder;
    position: fixed;
    
  }

  
  .projects {
      text-align: center;
  }

  .tablinks {
      padding: 20px 30px;
      
      background-color:#000000;
      border-radius: 0;
      cursor: pointer;
      text-decoration-color: none;
       font-weight: bold;
       
  }

  .tablinks:hover {
      background-color: #1750ca ;
       /* font-weight: bolder; */
      
  }



  .tabcontent {
      font-size: 30px;
      font-weight: bold;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#000000;
    text-align: center;
    
    
  }



  /* img {
      margin-left: 1000px;
      margin-bottom: 120px;
      border-style: solid;
      
      border-color: blueviolet;
     

      border-width: 10px;
  } */

.foots {
    text-align: center;
    color: #000000;
}
  
.icon-bar {
    position: fixed;
    top: 85%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Styling the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  
  .icon-bar a:hover {
    background-color: green;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .github {
      background: black;
      color: white;
  }
  
  